{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 52.3731339,
    "longitude": 4.8903147,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/London",
    "external_url": "http://localhost:8123",
    "internal_url": "http://localhost:8123",
    "currency": "EUR",
    "country": "GB",
    "language": "en"
  }
}